force-app/main/default/flows/Cancel_Vacancy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clear_candidates</name>
        <label>Clear candidates and changes status</label>
        <locationX>376</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>varVacancy.Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varVacancy.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vacancy</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Vacancy_Open</name>
        <label>Is Vacancy Open?</label>
        <locationX>391</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVacancy.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varVacancy.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_VCA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_VCA_exists</name>
        <label>Is VCA exists?</label>
        <locationX>392</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Clear_candidates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VCA_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVCA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_VCA_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Cancel Vacancy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Vacancy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_VCA_records</name>
        <label>Delete VCA records</label>
        <locationX>224</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Clear_candidates</targetReference>
        </connector>
        <inputReference>varVCA</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Vacancy</name>
        <label>Get Vacancy</label>
        <locationX>168</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Vacancy_Open</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </filters>
        <object>Vacancy__c</object>
        <outputReference>varVacancy</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Candidate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_VCA</name>
        <label>Get VCA</label>
        <locationX>398</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_VCA_exists</targetReference>
        </connector>
        <filters>
            <field>Vacancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </filters>
        <object>VacancyCandidateAssociation__c</object>
        <outputReference>varVCA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Candidate__c</queriedFields>
        <queriedFields>Vacancy__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vacancy</name>
        <label>Update Vacancy</label>
        <locationX>381</locationX>
        <locationY>696</locationY>
        <inputReference>varVacancy</inputReference>
    </recordUpdates>
    <startElementReference>Get_Vacancy</startElementReference>
    <status>Active</status>
    <variables>
        <name>varVacancy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacancy__c</objectType>
    </variables>
    <variables>
        <name>varVacancyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varVCA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VacancyCandidateAssociation__c</objectType>
    </variables>
</Flow>
