force-app/main/default/flows/Close_Vacancy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Candidate_to_Vacancy_and_change_status</name>
        <label>Assign Vacancy to Candidate and change status</label>
        <locationX>1069</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>varHiredCandidate.Vacancies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHiredCandidate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_hired_candidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Candidate_to_Vacancy_and_change_vacancy_status</name>
        <label>Assign Candidate to Vacancy and change vacancy status</label>
        <locationX>764</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>varVacancy.Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCandidateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varVacancy.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vacancy</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Candidate_VCA_exists</name>
        <label>Candidate VCA exists?</label>
        <locationX>417</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>Assign_Candidate_to_Vacancy_and_change_vacancy_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Candidate_Vca_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCandidateVca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Candidates_VCA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_candidate_exists</name>
        <label>Is candidate exists?</label>
        <locationX>533</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Cancel_Vacancy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Candidate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCandidateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Vacancy_Open</name>
        <label>Is Vacancy Open?</label>
        <locationX>327</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVacancy.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varVacancy.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_candidate_exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_VCA_exists</name>
        <label>Is Vacancy VCA exists?</label>
        <locationX>94</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Assign_Candidate_to_Vacancy_and_change_vacancy_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VCA_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVCA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_VCA_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Close Vacancy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Vacancy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Candidates_VCA</name>
        <label>Delete Candidates VCA</label>
        <locationX>627</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>Assign_Candidate_to_Vacancy_and_change_vacancy_status</targetReference>
        </connector>
        <inputReference>varCandidateVca</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_VCA_records</name>
        <label>Delete VCA records</label>
        <locationX>52</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Get_Candidate_VCA</targetReference>
        </connector>
        <inputReference>varVCA</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>541</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_VCA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCandidateId</elementReference>
            </value>
        </filters>
        <object>Candidate__c</object>
        <outputReference>varHiredCandidate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Vacancies__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate_VCA</name>
        <label>Get Candidate VCA</label>
        <locationX>279</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Candidate_VCA_exists</targetReference>
        </connector>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCandidateId</elementReference>
            </value>
        </filters>
        <object>VacancyCandidateAssociation__c</object>
        <outputReference>varCandidateVca</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vacancy__c</queriedFields>
        <queriedFields>Candidate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vacancy</name>
        <label>Get Vacancy</label>
        <locationX>172</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Vacancy_Open</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </filters>
        <object>Vacancy__c</object>
        <outputReference>varVacancy</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Candidate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_VCA</name>
        <label>Get VCA of this vacancy</label>
        <locationX>541</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_VCA_exists</targetReference>
        </connector>
        <filters>
            <field>Vacancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </filters>
        <object>VacancyCandidateAssociation__c</object>
        <outputReference>varVCA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Candidate__c</queriedFields>
        <queriedFields>Vacancy__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_hired_candidate</name>
        <label>Update hired candidate</label>
        <locationX>1211</locationX>
        <locationY>489</locationY>
        <inputReference>varHiredCandidate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vacancy</name>
        <label>Update Vacancy</label>
        <locationX>895</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Assign_Candidate_to_Vacancy_and_change_status</targetReference>
        </connector>
        <inputReference>varVacancy</inputReference>
    </recordUpdates>
    <startElementReference>Get_Vacancy</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Cancel_Vacancy</name>
        <label>Cancel Vacancy</label>
        <locationX>800</locationX>
        <locationY>42</locationY>
        <flowName>Cancel_Vacancy</flowName>
    </subflows>
    <variables>
        <name>varCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varCandidateVca</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VacancyCandidateAssociation__c</objectType>
    </variables>
    <variables>
        <name>varHiredCandidate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>varVacancy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacancy__c</objectType>
    </variables>
    <variables>
        <name>varVacancyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varVCA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VacancyCandidateAssociation__c</objectType>
    </variables>
</Flow>
